header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: var(--clr-accent);
}

.logo {
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-secondary);
  text-decoration: none;
}

.nav {
  position: fixed;
  background: var(--clr-accentOpecLite);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100%;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 5rem;
}

.nav__item {
  text-align: center;
}

.nav__item:hover {
  cursor: pointer;
  background-color: var(--clr-accentOpecLite);
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
  width: 100%;
}

.nav-toggle {
  padding: .4em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 1000;
}
