.intro {
  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--clr-light);
  height: 100vh;
}

.infoWrapper {
  padding-left: 3rem;
}

.intro__img {
  box-shadow: var(--bs);
  width: 70%;
  margin: auto;
  border-radius: 6px;
}

.section__subtitle--intro {
  display: inline-block;
  color: var(--clr-light);
}

.italicFont {
  font-family: 'Dancing Script', sans-serif;
}
