.my-services {
  background-color: var(--clr-dark);
  background-image: url('../img/services__background--image.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  color: var(--clr-light);
  text-align: center;
  padding-bottom: 3em;
}

.section__title--services {
  padding-top: 1em;
  color: var(--clr-light);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}
